.button {
  --_gap: 8px;
  --_leading-space: 24px;
  --_trailing-space: 24px;
  --_with-leading-icon-leading-space: 16px;
  --_with-leading-icon-trailing-space: 24px;
  --_with-trailing-icon-leading-space: 24px;
  --_with-trailing-icon-trailing-space: 16px;
}

.button .material-symbols-outlined { font-size: 18px; }

.button.-icon-leading {
  --_leading-space: var(--_with-leading-icon-leading-space);
  --_trailing-space: var(--_with-leading-icon-trailing-space);
}
.button.-icon-trailing {
  --_leading-space: var(--_with-trailing-icon-leading-space);
  --_trailing-space: var(--_with-trailing-icon-trailing-space);
}

.tonal-button:disabled, .filled-button:disabled, .elevated-button:disabled {
  --_container-color: rgba(29, 27, 32, var(--_disabled-opacity));
  --_container-color: var(--_disabled-color);
}
