.icon-button, .icon-button.--unselected {
  --_icon-color: var(--md-sys-color-on-surface-variant);
  --_container-size: var(--_container-height);
  --_state-layer-color: var(--md-sys-color-on-surface-variant);
}

.icon-button {
  color: var(--_icon-color);
  width: var(--_container-size);
}

.icon-button.--selected {
  --_icon-color: var(--md-sys-color-primary);
  --_state-layer-color: var(--md-sys-color-primary);
}

.tonal-icon:disabled, .filled-icon:disabled {
  --_container-color: rgba(29, 27, 32, var(--_disabled-opacity));
  --_container-color: var(--_disabled-color);
}
