.tonal-button {
  --_container-color: var(--md-sys-color-secondary-container);
  --_label-text-color: var(--md-sys-color-on-secondary-container);
  --_state-layer-color: var(--md-sys-color-on-secondary-container);
  --_hover-container-elevation: var(--md-sys-elevation-level1);
}
